* {margin:auto; margin-bottom: 5px; font-family: Arial, Helvetica, sans-serif;}
body {background-image: url(snow.png);background-size: cover;}
#cajatitulo {width: 1000px; height: 150px;}
.cajablanca {width: 1000px; height: 200px; background-color: white; border: 2px solid;}
.important {color: midnightblue;}
p { margin: 70px; font-size: 200%;}
p:hover {color: rgb(89, 0, 255);}
a:link {color: blue;}
a:visited {color: rgb(142, 0, 251);}