* {margin-bottom: 5px; font-family: Arial, Helvetica, sans-serif;}
body {background-image: url(snow.png);background-size: cover;}
#cajatitulo {width: 1000px; height: 150px; float: left;}
.cajablanca {width: 996px; height: 200px; background-color: white; border: 2px solid; float: left; margin-left: -40px;}
.important {color: midnightblue;}
p { margin: 70px; font-size: 200%;}
p:hover {color: rgb(81, 0, 255);}
a:link {color: rgb(0, 106, 255);}
a:visited {color: rgb(41, 0, 102);}
li {display: inline-block; margin: auto;}
#elcssmeodia {width: 1000px; height: 1000px; margin: auto;}