.flexicaja {background-color: antiquewhite; width: 90vw; height: 100vh; margin: auto ;display: flex; flex-direction: row;}
.nombres {background-color: rgb(255, 165, 56); margin: 15px; padding: 5px; text-align: center;}