* {text-align: center;font-family: "Roboto";}
main {display: flex; justify-content: center;flex-flow: row wrap}
header {height: 150px;width: 1000px;background-image: url(img/bazinga.jpg);background-size: cover; margin: auto; margin-bottom: 15px;margin-top: 15px; padding-top: 7px;}
h1 {font-family: "Ballet"; font-size: 330%;}
#texto {height: 490px; width: 490px; border: 2px solid blue; padding: 15px; margin: 5px;overflow: scroll;}
#imagen {height: 490px; width: auto; border: 2px solid blue; padding: 15px; margin: 5px;}
img {height: 500px; width: auto;}
div:hover {border: 2px solid rgb(255, 208, 0); box-shadow: 0px 10px 15px 2px rgb(81, 53, 19);}