main {width: 80vw; height: 70vh; background-color: antiquewhite; margin: auto;}
#cuadro1 {width: 60vw; height: 30vh; background-color: blueviolet;}
#cuadro2 {width: 20vw; height: 30vh; background-color: aqua;}
footer {width: 80vw; height: 10vh; background-color: brown;}