.flexicaja {display: flex; flex-direction: row; justify-content: center;}
.square {height: 200px;width: 200px;font-family: 'Times New Roman', Times, serif; text-align: center;}
.orange {background-color: orange;}
.yellow {background-color: yellow; flex-grow: 2;}
.cyan {background-color: cyan; flex-shrink: 15;}
.blue {background-color: blue; flex-grow: 1;}
.bluer {background-color: darkblue;}
.bluest {background-color: midnightblue;}
.text {margin-left: 15px; margin-right: 15px;}
a:link {color: greenyellow;}
a:hover {color: green;}
a:visited {color: aqua;}
span {font-size: 300%;}
.godown {margin: 0 auto; transform:translateY(50px)}